* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(226, 223, 223);
}

.logo1 {
  width: 100px;
  height: 100px;
}

.menu ol {
  width: 100px;
  height: 100vh;
  background-color: rgb(255, 255, 255);

}

.menu ol {
  list-style: none;
  display: block;
}

.menu ol li a {
  color: #4f99a3;
  font-size: 13px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 30px;
  text-decoration: none;
  display: block;
  position: relative;
}



.menu ol li a:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: rgb(4, 111, 252);
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.menu ol li a:hover,
.active {
  color: rgb(0, 0, 0);
  background-color: rgb(143, 240, 207);
}

.menu ol li a:hover:before {
  opacity: 1;
}

.video{
  position: absolute;
  top: 18%;
  left: 12%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  position: relative;
  text-align: center;
  width: 100px;
  height: 20px;
  font-size: 20px;
color: #4f99a3;
border: none;
cursor: pointer;
}


.search {
  
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 30%;
  left: 25%;
  height: 30px;
  width: 900px;
  border: none;
  background-color: transparet;
  resize: none;
  outline: none;
  border-radius: 1vh;
}

input[type="file"] {
  display: none;
}
label {
  color: black;
  
  background-color: white;
  width: 250px;
  height: 250px;
top: 250px;
left: 380px;
position: relative;
  padding: 40px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

h3 {
  margin-left: 800px;
  margin-top: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.patch {
  background-color: white;
  height: 100px;
  width: 1419px;
  margin-left: 100px;
  margin-top: -855px;
}
